@model ApplicationCore.Models.CastDetailsModel

@{
    ViewData["Title"] = "Cast Details";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-4 p-5 bg-light bg-gradient fixed-top" style="min-height: calc(100vh - 55px); margin-top: 56px; z-index: -1">
            <img class="img-fluid rounded-circle d-block mx-auto my-4" style="width:65%;" src="@Model.ProfilePath" alt="Profile pic">
            <h2 class="text-center">@Model.Name</h2>
            <h6 class="text-center">@Model.Gender</h6>
        </div>
        <div class="col-8 pt-4 px-4 offset-4" style="min-height: calc(100vh - 55px);">
            <h4 class="mb-4">Movies</h4>
            <div class="row">
                @foreach (var movie in Model.Movies)
                {
                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card mb-4">
                            <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">
                                <img src="@movie.PosterUrl" class="img-fluid rounded" alt="@movie.Title" />
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

